doctype html
html
  head
      title Project Baynihan
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
      
  body
    .container
      section#beaconTable
        h2 Bayanihan Emergency Response Queue
        table.table(class="table table-bordered")
          thead
            th Name
            th Timestamp
            th Mobile Number
            th Location Coordinates
            th Actions
                   
          tr(v-for="row in rows")
            td
              p {{ row.name }}
            td 
              p {{ getFriendlyTimestamp(row.timestamp) }}
            td  
              p {{ row.mobileNumber }}
            td 
              a(:href="getMapURL(row)" target="_blank") long,lat({{row.longitude}},{{row.latitude}})
            td 
              button(type="button" class="btn btn-primary") Notify
          
  script(type="text/javascript" src="/scripts/vue.min.js")
  script(type="text/javascript" src="/scripts/vue-resource.min.js")
  script(type="text/javascript" src="/scripts/socket.io.slim.js")
  script(type="text/javascript" src="/scripts/main.js")
