doctype html
html
  head
      title Project Baynihan
      link(rel='stylesheet', href='/stylesheets/style.css')
      
  body
    section#beaconTable
      h2 Let's start shall we?
      table.victim-table(cellpadding="0" cellspacing="0" border="1")
        thead
          td Name
          td Timestamp
          td Mobile Number
          td Location Coordinates
        tr(v-for="row in rows")
          td 
            p {{ row.name }}
          td 
            p {{ row.timestamp }}
          td  
            p {{ row.mobileNumber }}
          td 
            a(:href="getMapURL(row)" target="_blank") long,lat({{row.longitude}},{{row.latitude}})

  script(type="text/javascript" src="/scripts/vue.min.js")
  script(type="text/javascript" src="/scripts/vue-resource.min.js")
  script(type="text/javascript" src="/scripts/main.js")
