doctype html
html
  head
      title Project Baynihan
      link(rel='stylesheet', href='/stylesheets/style.css')
      
  body
    section
    h2 Thanks for registering this number!

  script(type="text/javascript" src="/scripts/vue.min.js")
  script(type="text/javascript" src="/scripts/vue-resource.min.js")
  script(type="text/javascript" src="/scripts/socket.io.slim.js")
  script(type="text/javascript" src="/scripts/main.js")

