doctype html
html
  head
      title Project Bayanihan
      link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
      link(rel="stylesheet" href="/stylesheets/style.css")
      link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
      
  body
    .container
      section#beaconTable
        h2 Bayanihan Disaster Communication
        table.table(class="table table-bordered")
          thead
            th Severity
            th Name
            th Timestamp
            th Mobile No.
            th Message
                   
          tr(v-for="row in rows")
            td
              div(v-bind:class="{ 'critical': row.category === 'critical', 'major': row.category === 'major' }") {{ row.category }}
            td
                span {{ row.name }}
            td {{ row.friendlyDate }}
            td {{ row.mobileNumber }}
            td
              div(v-if="isCoordinates(row.message)")
                a(:href="getMapURL(row.message)" target="_blank") {{ row.message }}
              div(v-else) {{ row.message }}
          
  script(type="text/javascript" src="/scripts/vue.min.js")
  script(type="text/javascript" src="/scripts/vue-resource.min.js")
  script(type="text/javascript" src="/scripts/socket.io.slim.js")
  script(type="text/javascript" src="/scripts/main.js")
