doctype html
html
  head
      title Project Baynihan
      link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
      link(rel="stylesheet" href="/stylesheets/style.css")
      link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
      
  body
    .container
      section#beaconTable
        h2 Bayanihan Disaster Communication
        table.table(class="table table-bordered")
          thead
            th Severity
            th Timestamp
            th Mobile Number
            th Message
            th Actions
                   
          tr(v-for="row in rows")
            td
              div(v-bind:class="{ 'critical': row.category === 'critical', 'major': row.category === 'major' }") {{ row.category }}
            td {{ row.friendlyDate }}
            td {{ row.mobileNumber }}
            td {{ row.message }} 
            td 
              button(type="button" class="btn btn-primary") Notify
          
  script(type="text/javascript" src="/scripts/vue.min.js")
  script(type="text/javascript" src="/scripts/vue-resource.min.js")
  script(type="text/javascript" src="/scripts/socket.io.slim.js")
  script(type="text/javascript" src="/scripts/main.js")
