doctype html
html
  head
      title Project Bayanihan
      link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
      link(rel="stylesheet" href="/stylesheets/style.css")
      link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
      
  body
    section#beaconTable
      div.container
        h2 Project: Bayanihan - Rescue Map
      div#map

  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlTdFBRLuRkHEfLnAQfZNWXIWpxNPGrGI") 
  script(type="text/javascript" src="/scripts/vue.min.js")
  script(type="text/javascript" src="/scripts/vue-resource.min.js")
  script(type="text/javascript" src="/scripts/socket.io.slim.js")
  script(type="text/javascript" src="/scripts/main.js")
