.victim-table{
    width: 100%;
}
.victim-table tr th{
    font-weight: bold;
    font-size: 18px;
}
.victim-table tr td, .victim-table tr th{
    padding: 10px 15px;
    text-align: left;
}
.victim-table tr td p{
    margin: 0px;
    text-align: left;
}
