/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font-family: "Open Sans"
}

.btn {
  font-size: 12px;
  cursor: pointer;
}

.critical {
  color: #F44336;
}
.major {
  color: #FF9800;
}
.minor {
  color: #009688;
}

#map{
  height: 100%;
  width: 100%;
  min-width: 500px;
  min-height: 500px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
