table{
    width: 100%;
}
table tr th{
    font-weight: bold;
    font-size: 18px;
}
table tr td, table tr th{
    padding: 10px 15px;
    text-align: left;
}
table tr td p{
    margin: 0px;
    text-align: left;
}
